:root {                         /* <--- Declarar variables en CSS */
    --blanco: #FCFCFB;
    --oscuro: #333;
    --verde_oscuro: #55625B;
    --blanco_secundario: #F8FCFA;
    --verde: #56866A;
    --azul: #00416A;
    --azulOscuro: #01304d;
    --fuentePcpal: 'Roboto', sans-serif;
}

/** SELECTORES GLOBALES **/
html {
    font-size: 62.5%;           /* <--- 1rem = 10px */
    box-sizing: border-box;     /* <--- Elimina Box Model */
    scroll-snap-type: y proximity;
}

*, *::before, *::after {        /* <--- Elimina Box Model */
    box-sizing: inherit;
}

body {
    font-size: 16px;            /* <--- 1rem = 10px */
    font-family: 'Krub', sans-serif;    
    font-weight: 400;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco_secundario) 100%); /*degradado del fondo */
    overflow-x: hidden;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.3rem;
}

h1,h2,h3 {
    font-family: var(--fuentePcpal);
    text-align: center;
    margin: 0 auto;
}

a {
    text-decoration: none;
}