:root {                         /* <--- Declarar variables en CSS */
    --blanco: #FCFCFB;
    --oscuro: #191919;
    --verde_oscuro: #55625B;
    --blanco_secundario: #F8FCFA;
    --verde: #56866A;
    --azul: #00416A;
    --fuentePcpal: font-family: 'Montserrat', sans-serif;
}

/** SELECTORES GLOBALES **/
html {
    font-size: 62.5%;           /* <--- 1rem = 10px */
    box-sizing: border-box;     /* <--- Elimina Box Model */
    scroll-snap-type: y proximity;
}

*, *::before, *::after {        /* <--- Elimina Box Model */
    box-sizing: inherit;
}

body {
    font-size: 16px;            /* <--- 1rem = 10px */
    font-family: 'Krub', sans-serif;
    font-weight: 400;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco_secundario) 100%); /*degradado del fondo */

}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
    color: var(--verde);
}

h3 {
    font-size: 2.6rem;
}

h1,h2,h3 {
    font-family: var(--fuentePcpal);
    text-align: center;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.8rem;
    padding: 0.5rem;
}

img {
    max-width: 100%;
}

/** NAVEGACION **/
.header {
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: space-evenly;
    border-bottom: 0.6rem;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: var(--verde);
    padding: 0;
    margin: 0 3rem;
}

@media (min-width: 700px) {
    .header {
        align-items: center;
        justify-content: space-between;
        margin: 0 7rem;
    }
}

@media (min-width: 900px) {
    .header {
        flex-direction: row;
    }
}

.header__contenedor {
    padding: 0;
    margin: 0;
}

.header__navegacion {
    padding: 0;
    margin: 0;
}

.header__listado {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

@media (min-width: 700px) {
    .header__listado {
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }
}

.header__listado a {
    color: var(--oscuro);
    padding: 1rem;
    font-size: 1.9rem;
    font-weight: 40rem;
}

.header__listado a:hover {
    background-color: var(--verde);
    color: var(--blanco);
}

@media (min-width: 700px) {
    .header__listado a{
        padding: 1.3rem;
    }
}

@media (min-width: 900px) {
    .header__listado--referencias {
        padding: 1.7rem;
    }
}

.header__logo {
    max-width: 100%;
    min-width: 135px;
    width: 135px;
    padding: 0;
    margin: 0;
}
.logo {
    padding: 0;
    margin: 0;
}

/**  CARRUSEL **/


/** QUIENES SOMOS **/

.seccion__quienes h2{
    color: var(--azul);
}



/** MAIN **/

.main {
    max-width: 120rem;
    margin: 0 auto;
}

.contenedor { /** CONTENEDOR GRID **/
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 5rem;
}

@media (min-width: 760px) {
    .contenedor {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .contenedor {
        gap: 10rem;
    }
}

.servicios {
    background-color: var(--azul);
    padding: 1.3rem;
}

.servicios:hover{
    opacity: 40%;
    padding: 0;
}

.servicios__imagen {
    width: 100%;
}

.servicios__titulo {
    color: var(--blanco);
}

.servicios__descripcion {
    color: var(--blanco);
}

.servicios__titulo, .servicios__descripcion {
    font-family: var(--fuentePcpal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.5rem;
}

/** FOOTER **/

.footer {

}