:root {                         /* <--- Declarar variables en CSS */
    --blanco: #FCFCFB;
    --oscuro: #191919;
    --verde_oscuro: #55625B;
    --blanco_secundario: #0097A7;
    --verde: #56866A;
    --fuentePcpal: font-family: 'Montserrat', sans-serif;
}
html {
    font-size: 62.5%;           /* <--- 1rem = 10px */
    box-sizing: border-box;     /* <--- Elimina Box Model */
    scroll-snap-type: y proximity;
    font-family: var(--fuentePcpal);
}

*, *::before, *::after {        /* <--- Elimina Box Model */
    box-sizing: inherit;
}

body {
    font-size: 16px;            /* <--- 1rem = 10px */
    font-family: 'Krub', sans-serif;
    font-weight: 400;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%); /*degradado del fondo */
}
header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.6rem;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: var(--verde);
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    
    
}
.contenedor__navegacion {
    justify-content: right;
    align-items:end;
    display: flex;
    position:relative;
    left: 31rem;
}
.navegacion__listado {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    font-family: var(--fuentePcpal);
    gap: 8rem;
    font-size: 1.5rem;
    
}
.navegacion__listado li{
    justify-content: space-evenly;

}
.navegacion__listado a{
    justify-content: space-between;
    text-decoration: none;
    color: var(--oscuro);
    font-weight:bold;
}
.navegacion__listado a:hover{
    justify-content: space-between;
    text-decoration: none;
    color: var(--verde);
    font-weight: bold;
}
.logo{
    display: flex;
    margin-left: -30rem;
    align-items: initial;
}
.seccion__quienes {
    display: inline-block;   
}
.seccion__quienes h2{
    font-size: 2.5rem;
    text-align: center;
    color: var(--verde);
}
.seccion__quienes p{
    padding-left: 20%;
    padding-right: 20%;
}